.page_content {
  min-height: calc(100vh - 70px);
  padding: 40px 40px 0 40px;
}
.footer {
    color:#333;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #ffffff, #f2f2f2) !important;
    border: 1px solid #d4d4d4 !important;
    text-align: center;
}

.span-19 {
	width:90%;
	float:left;
}

.custom_header {
	color : #0088cc;
}

.custom-label {
    float: left;
   
    padding-top: 5px;
    padding-right: 15px;
    text-align: right;
}